<% if request.post? %>
  Thanks for submitting the form!  Here are your answers:<br>
  Name: <%= params[:name] %><br>
  Do you like Chocolate? <%= params[:chocolate] ? "Yes!" : "No" %><br>
  Do you like Rainbows? <%= params[:rainbows] ? "Yes!" : "No" %><br>
  Do you like Puppies? <%= params[:puppies] ? "Yes!" : "No" %><br>
  <% if Rails.env.development? %>
    Do you like Cold Hard Cash? <%= params[:cash] ? "Yes!" : "No" %><br>
  <% end %>
<% else %>
<%= form_for(@x) do |f| %>
<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div>
  Favorites:
      <ul>
        <li class="item">
          <%= f.label :chocolate %><br>
          <%= f.check_box_tag :chocolate %>
        </li>

        <li class="item">
          <%= f.label :rainbows %><br>
          <%= f.check_box_tag :rainbows %>
        </li>

        <li class="item">
          <%= f.label :puppies %><br>
          <%= f.check_box_tag :puppies %>
        </li>

        <li class="item">
          <%= f.label :cold_hard_cash %><br>
          <%= f.check_box_tag :cold_hard_cash %>
        </li>

    <%= f.submit %>
<% end %>
<% end %>
